@using PagedList.Mvc
@model PagedList.IPagedList<UnivCloud_Datos.BaseDatos.Subject>
@{
    bool? State = ViewBag.States;
}
<div class="Contenedor-Minimo">
    <h2 class="text-center m-4">Consulta de Asignaturas</h2>
    <div class="m-2">
        <a href="#" class="btn btn-info Boton-Collapse" id="Boton-Collapse">Filtrar Busquedad</a>
        <div class="Cuerpo-Collapse-Inactivo" id="Cuerpo-Collapse">
            <!--Search Advanced-->
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-row">
                    <div class=" form-group col-md-5">
                        <input type="text" name="Code" value="" class="form-control Code_Subjects" oninput="this.value = this.value.toUpperCase()" placeholder="Codigo de la Asignatura" />
                    </div>
                    <div class=" form-group col-md-5 offset-2">
                        @Html.DropDownList("Grade", (SelectList)ViewBag.Grades, "Selecciona un Grado", new { @class = "form-control" })
                    </div>
                    <button class="btn btn-success col-md-3"><i class="fas fa-search"></i> Buscar</button>
                </div>
            }
        </div>
    </div>
    <table class="table table-bordered" id="Table">
        <tr class="thead-dark">
            <th>
                @Html.DisplayNameFor(model => model[0].Code_Subject)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Grade)
            </th>
            <th>
                @Html.DisplayName("Horas")
            </th>
            <th> Control </th>
        </tr>
        @{ 
            if (!Model.Any())
            {
                <tr>
                    <td colspan="6" class="text-center">
                        No se encontraron registros en la busquedad.
                    </td>
                </tr>
            }
        }
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Code_Subject)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Grades.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Credits) Horas
                </td>
                <td>
                    <div class="Utilidades">
                        <a href="@Url.Action("Edit", "Subjects", new { Code = item.Code_Subject })"><i class="fas fa-pen-square Iconos-Utilidades"></i></a>
                        <a onclick="SendPost('@item.Code_Subject', '/Subjects/Delete')"><i class="fas fa-trash-alt Iconos-Utilidades"></i></a>
                    </div>
                </td>
            </tr>
        }
    </table>
</div>
@{Html.RenderPartial("_State", new StateValid { States = State });}
<script src="~/Scripts/alertify.min.js"></script>
<script src="~/Scripts/Otros/Otros.js"></script>
<div class=" row">
    <div class="col-md-8 Group-Buttons">
        <a href="@Url.Action("Create", "Subjects")" class="btn btn-info"><i class="fas fa-plus"></i> Nueva Asignatura</a>
        <a href="@Url.Action("Consult", "Subjects")" class="btn btn-info ml-3"><i class="fas fa-scroll"></i> Ver todos</a>
        <a class="btn btn-info ml-3" href="@Url.Action("Reports", "Subjects", new { ReportType = "Excel"})"><i class="fas fa-print"></i> Excel</a>
        <a class="btn btn-info ml-3" href="@Url.Action("Reports", "Subjects", new { ReportType = "PDF"})"><i class="fas fa-print"></i> PDF</a>
        <a class="btn btn-info ml-3" href="@Url.Action("Reports", "Subjects", new { ReportType = "Word"})"><i class="fas fa-print"></i> Word</a>
    </div>
    <div class="col-md-4">
        <!--<h6 class="text-black-50">Pagina @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount</h6>-->

        @Html.PagedListPager(Model, IndexPage => Url.Action("Consult", "Subjects", new { IndexPage, Search = Request.QueryString["IndexPage"] }), new PagedListRenderOptions { LiElementClasses = new string[] { "page-item" }, UlElementClasses = new[] { "pagination" }, LinkToPreviousPageFormat = "Anterior", LinkToNextPageFormat = "Siguiente" })
    </div>

</div>

